@import "src/variables";

.category-menu {
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  height: fit-content;
}

.category-details {
  flex-grow: 1;
}

.mat-list-single-selected-option {
  background: rgba($vibrant_color0, 0.3);
  color: $color5;
}

table {
  background-color: transparent;
  width: 100%;
}

.muted {
  color: $vibrant_color0;
}
