<div class="flex-container">
  <div class="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="paper category-menu" *ngIf="!loading">
    <h1>Categories</h1>
    <mat-selection-list [(ngModel)]="selectedCategory" [multiple]="false">
      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="paper category-details" *ngIf="selectedCategory[0]">
    <h2>{{selectedCategory[0].name}}</h2>
    <div *ngFor="let item of selectedCategory[0].items">
      <h3>{{item.name}}</h3>
      <mat-list *ngIf="item.price">
        <mat-list-item>
          {{item.price}} <mat-icon>diamond</mat-icon> for {{item.amount}} {{item.name}} ({{getNumberInStacks(item.amount)}} stacks)
        </mat-list-item>
        <mat-list-item *ngIf="item.bulk_price">
          {{item.bulk_price}} <mat-icon>diamond</mat-icon> for 1 Shulker Box of {{item.name}}
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
    <h3 *ngIf="selectedCategory[0].items.length === 0" class="muted">
      No items.
    </h3>
  </div>
</div>
