<div class="login-dialog">
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div  *ngIf="loading" id="overlay"></div>
  <h1>Login</h1>
  <p>Login using your email, no password required!</p>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)" autocomplete="off">
    <div>
      <mat-form-field class="w-100">
        <mat-label>Email Address:</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Your email">
        <mat-error>Email is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || loading">Send login email</button>
    </div>
  </form>
</div>
