<div class="flex-container">
  <div class="spinner" *ngIf="isLoading()">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="paper grow">
  <table mat-table [dataSource]="entriesDataSource" class="w-100">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let row"> {{row.item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="per_diamond">
      <th mat-header-cell *matHeaderCellDef>Amount per diamond</th>
      <td mat-cell *matCellDef="let row"> {{getPerDiamond(row.amount, row.amount_of_diamonds)}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price (diamond)</th>
      <td mat-cell *matCellDef="let row"> {{row.amount_of_diamonds}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Item amount</th>
      <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="bulk">
      <th mat-header-cell *matHeaderCellDef>Bulk</th>
      <td mat-cell *matCellDef="let row"> {{row.bulk ? 'Yes' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase">
      <th mat-header-cell *matHeaderCellDef>Was purchase</th>
      <td mat-cell *matCellDef="let row"> {{row.was_purchase ? 'Yes' : 'No'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item', 'per_diamond', 'price', 'amount', 'date', 'bulk', 'purchase']"></tr>
    <tr mat-row
        *matRowDef="let row; columns: ['item', 'per_diamond', 'price', 'amount', 'date', 'bulk', 'purchase'];"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]"
                 showFirstLastButtons>
  </mat-paginator>

  <div class="global-btn">
    <button mat-fab color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
