// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$minecraft-market-tracker-primary: mat.define-palette(
    (
      50: #e4f6fa,
      100: #bde9f3,
      200: #97dbeb,
      300: #7acce0,
      400: #6ec1d6,
      500: #6cb7cc,
      600: #65a7b9,
      700: #5c92a0,
      800: #547e87,
      900: #425b5f,
      contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        // ... continues to 900
      )
    )
);
$minecraft-market-tracker-accent: mat.define-palette((
  50: #f3e2f1,
  100: #e1b5de,
  200: #cd84c8,
  300: #b752b2,
  400: #a726a2,
  500: #970093,
  600: #8a008e,
  700: #780088,
  800: #680080,
  900: #4a0074,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    // ... continues to 900
  )
), 200, 100, 300);
$minecraft-market-tracker-background: mat.define-palette(
    (
      50: #1A2026,
      100: #1A2026,
      200: #1A2026,
      300: #1A2026,
      400: #1A2026,
      500: #1A2026,
      600: #1A2026,
      700: #1A2026,
      800: #1A2026,
      900: #1A2026,
      contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        // ... continues to 900
      )
    )
);

// The warn palette is optional (defaults to red).
$minecraft-market-tracker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$minecraft-market-tracker-theme: mat.define-dark-theme((
  color: (
    primary: $minecraft-market-tracker-primary,
    accent: $minecraft-market-tracker-accent,
    warn: $minecraft-market-tracker-warn,
  ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($minecraft-market-tracker-theme);

/* You can add global styles to this file, and also import other style files */

@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background;
  color: $foreground;
}

.content-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 800px) {
  .content-container {
    width: 100%;
  }
}

.paper {
  padding: $padding;
  margin: $margin;
  border-radius: $border-radius;
  background-color: $color0;
  box-shadow: $box-shadow;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

.snackbar-error {
  background-color: $color1;
}

.snackbar-success {
  background-color: $color2;
}

.mat-dialog-container {
  padding: $padding !important;
  border-radius: $border-radius !important;
  background-color: $background !important;
  box-shadow: $box-shadow !important;
}

.global-btn {
  position: fixed;
  right: $margin + $padding;
  bottom: $margin + $padding;
}
